:host {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.userList {
  border: 1px solid;
  flex-direction: column;
  margin: 20px;
}

.header {
  padding: 0 10px;
  color: black;
  font-size: large;
  font-weight: 600;
}

.tableCell {
  border-bottom: 1px solid;
  padding: 16px;
}

