<div
  fxFlex="1 1 auto"
  fxLayoutAlign="center center"
  fxLayout="column"
  class="homePage"
>
  <div style="width: 50%; font-size: xx-large; color: antiquewhite">
    User Authorization Project Description
  </div>
  <div style="margin: 16px; width: 50%">
    This project is a basic project with user roles edited. There are 3
    different user roles: Admin, Superadmin and customer. Every user can login
    to the system. Only admin and super admin can edit user roles.
  </div>
  <img src="./assets/userİmage.jpg" width="50%" height="50%" />
  <div
    *ngIf="permission"
    fxFlex="0 1 auto"
    style="width: 50%; margin-top: 24px"
  >
    <button
      fxFlex="1 1 auto"
      mat-raised-button
      color="primary"
      (click)="openEditUsers()"
    >
      Edit Users
    </button>
  </div>
</div>
